<not-found>
  <h1>Page Not Found</h1>
  <p>Go Back To <a href={state.basepath + '/'}>Home</a></p>
  
  <script>
    import basepath from '../basepath';
    
    export default {
      state: {
        basepath: basepath
      }
    }
  </script>
</not-found>
